<div id="<%= dom_id content %>">
  <p>
    <strong>Value:</strong>
    <%= content.value %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= content.content_type %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= content.message_id %>
  </p>

</div>
